<form method="post" enctype="multipart/form-data" (submit)="uploadImage()">
  <div>
    <label for="image">Escolha a imagem para carregar</label>
    <input type="file" id="image" name="image" accept="image/*" #currentImage required />
  </div>
  <div>
    <button>Enviar</button>
  </div>
</form>

<p style="text-align: center;">{{progress}}%</p>
<hr [style]="'width: '+progress+'%;'">

@if (message.originalFilename !== '') {
<div>
  <img [src]="'https://cafeinacommons.blob.core.windows.net/images/' + message.originalFilename"
    [alt]="message.originalFilename" style="width: 100%;">
    <b>{{message.originalFilename}}</b><br>
    {{message.contentType + " - " + message.size + "KB"}}
</div>
}